DATABASE_URL=postgresql://postgres:postgres@localhost:5432/Odoc
JWT_SECRET=JWT_SECRET=3xM4y3NCphtC8qMg9ec5rqO2FLdTpb4g5ro241H2Qk9uqq+2jES1gIa+DE0U9AyldwY/tcq8P/O/NGcboApL5A==
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=8

FASTAPI_PORT=8000
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760

CORS_ORIGINS=["*"]